@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap'); /*font-family: "Anta", sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Honk:SHLN@49.8&family=Ojuju:wght@200..800&display=swap');/*font-family: "Honk", system-ui*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');/*font-family: "Alegrya Sana SC", sans-serif*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-color:rgb(3, 3, 20);
}

.logo{
    width: 100%;
    right: 50px;
    left: 20px;
}

header .logo:hover{
    transform: scale(1.025);
    cursor: pointer;
    filter:drop-shadow(5px 5px 30px #FFFFFF);
}

.logo_caixa{
    width: 40px;
    position: relative;
    margin-right: 10px;
    /*background-color: red;*/
}

.barra-navegacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    padding: 0 50px ;
    font-family: "Anta",  sans-serif;
    background-color: rgb(3, 3, 20);
}

.barra-navegacao h2{
    color: rgb(7, 163, 253);
    font-weight: 500;
    font-size: 3vw;
    cursor: pointer;
    margin-right: 10px;
}

.barra-navegacao ul{
    display: flex;
    align-items: center;
    justify-content: column;
}

.barra-navegacao ul li{
    list-style: none;
}

.barra-navegacao ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5vw;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.barra-navegacao li:hover a{
    color: rgb(255, 166, 0);
}

.bt-acessar{
    background: rgb(7, 163, 253);
    padding: 6px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.bt-acessar:hover{
    background: rgb(255, 166, 0);
}

body .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .itens{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

body .conteudo{
    padding: 20px 30px;
    background-image: linear-gradient(rgb(3, 3, 20),  rgb(25, 25, 65),  rgb(3, 3, 20));

}

body p{
    font-size: 16px;
    color: #ffffff;
}

body i{
    color: blue;
    font-size: 19px;
    font-weight: bold;
}

.logo_caixa .logo{
    max-width: 300px;
}

.logo_caixa{
    margin-bottom: 300px;  
}


body h2{
    font-size: 20px;
    color: #ffffff;
}

.formulario .form-group{
    margin-top: 20px;
    font-size: 15px;
    color: #ffffff;
}

.formulario .form-group .opcoes{
    display: flex;
    align-items: center;
}

.formulario .form-group .opcoes .form-check{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 15px;
    color: #ffffff;
}

.formulario .botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.formulario .botoes .bt_enviar{
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 25px;
    transition: all ease 0.3s;
}

.formulario .botoes .bt_enviar:hover{
    background-color: rgb(2, 228, 2);
    scale: 1.1;
}


.formulario .botoes .bt_limpar{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all ease 0.3s;
}

.formulario .botoes .bt_limpar:hover{
    background-color: rgb(143, 0, 0);
    scale: 1.1;
}